<%= form_for ( @contact = Contact.new ) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :name, "Contact Name" %>
	<%= f.text_field :name %>

	<%= f.label :email, "Contact Email" %>
	<%= f.text_field :email %>

	<div class="comment">
	<%= f.label :comments %>
	<%= f.text_field :comments, rows: "10" %>
	</div>

	<%= f.submit "Send Email", class: "btn btn-large btn-primary" %>
<% end %>